.item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.icon {
    fill: var(--inverted-primary-color);
    min-width: 20px;
    height: 20px;
}

.link {
    margin-left: 10px;
    width: 100%;
    white-space: nowrap;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .link {
        width: 0;
        opacity: 0;
        transition: opacity 0.2s;
        margin-left: 0;
        height: 0;
    }
}
