.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.edit-button {
    margin-left: auto;
}

.buttons {
    display: flex;

    button {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}

.buttons-wrapper {
    margin-left: auto;
}
